**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/

.git/
.github/
.claude/
docs/
tests/

**/*.user
**/*.suo
**/.DS_Store
**/Dockerfile
**/compose*.yaml
**/compose*.yml
**/docker-compose*.yml
